.body{
-fx-background-image: url("BackGroundImage.png");
    -fx-background-size: cover;

}
.textfield {

    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}
.button{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color:#168FC1;
    -fx-background-color:#168FC1;

}

.button:hover{
    -fx-background-color:#0B729C;
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-border-color:#168FC1;

}


