.body{
-fx-background-image: url("zaki2.png");
    -fx-background-size: cover;

}
.textfield {

    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}
