.body{
-fx-background-image: url("zaki2.png");
    -fx-background-size: cover;

}
.textfield {

    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}
.button1{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: white;


}

.button1:hover{
    -fx-background-color:#0B729C;
    -fx-text-fill:black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;



}
.vboxcoleur{
    -fx-background-color: #000428;  /* fallback for old browsers */
    fx-background-color: linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    fx-background-color: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.buttondachboard{
    -fx-background-color: transparent;

    -fx-border-color: transparent;
   }
.buttondachboard:hover{
    -fx-background-color: black;
    -fx-background-radius: 12px;
    -fx-border-color:transparent;

}
.vbox{
    -fx-background-color: #000428;  /* fallback for old browsers */
    -fx-background-color: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    -fx-background-color: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -fx-background-radius: 20px;
    -fx-border-radius: 20px;



}
.buttonimag{
    -fx-background-color: transparent;
}
.schadow{

    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),5,0,0,0);
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;



        }


.label2{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),5,0,0,0);
    -fx-background-radius: 20px;
    -fx-background-color: white;  /* fallback for old browsers */

    -fx-border-radius: 20px;
}
.label2:hover{
   -fx-background-color:#2980b9;  /* fallback for old browsers */
    -fx-background-color: -webkit-linear-gradient(to right, #6dd5fa,#2980b9 );  /* Chrome 10-25, Safari 5.1-6 */
    -fx-background-color : linear-gradient(to right, #6dd5fa, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.anchorsitch{
    -fx-background-radius: 20px;
    -fx-background-color:#000428;
    -fx-border-radius: 20px;

}
.buttonlabe{
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: white;

}
.table-view{
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-border-color: lightblue;
    -fx-border-width: 2px;

}
.table-view.column-header-background{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}



