.body{
-fx-background-image: url("zaki2.png");
    -fx-background-size: cover;

}
.textfield {

    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}
.button{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color:#168FC1;
    -fx-background-color:#168FC1;

}

.button:hover{
    -fx-background-color:#0B729C;
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-border-color:#168FC1;

}
.vboxcoleur{
    -fx-background-color: #000428;  /* fallback for old browsers */
    fx-background-color: linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    fx-background-color: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.buttondachboard{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
}
.buttondachboard:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: blue;
    -fx-border-width: 0px 0px 0px 8px;
    -fx-border-style: solid;
}


